.btn {
	transition: all 0.2s ease-in;
	cursor: pointer;
	padding: 10px;
	margin: 4px;
	background-color: var(--primaryBtn);
	color: var(--secondary);
	font-weight: 700;
	border: 3px solid #4b4b4b;
	border-radius: 10px;
}
