.home {
	height: calc(100vh - 56px);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease-in;
	.btn {
		transition: all 0.2s ease-in;
		cursor: pointer;
		padding: 15px 10px;
		background-color: var(--primaryBtn);
		color: var(--secondary);
		font-weight: 700;
		border: 3px solid #4b4b4b;
		border-radius: 10px;
	}
	.count {
		transition: all 0.2s ease-in;
		margin: 10px;
		padding: 10px;
		background-color: var(--primary);
		color: var(--secondary);
		width: fit-content;
		background: var(--primaryBtn);
		border: 3px solid #4b4b4b;
		border-radius: 10px;
	}
}

