.modal_wrapper {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	.modal_backdrop {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.363);
		cursor: pointer;
	}
	.modal_box {
		display: flex;
		flex-direction: column;
		position: absolute;
		height: 200px;
		width: 320px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: var(--primary);
		color: var(--secondary);
		border-radius: 10px;
		border: 2px solid var(--secondary);
	}
}
