header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: var(--primary);
	animation: changeColor 8s forwards infinite linear;
	transition: all 0.2s ease-in;
	.navbar_container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 90%;
		padding: 10px;
	}
	nav {
		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			li {
				list-style: none;
				img {
					margin-top: 4px;
					border-radius: 50%;
					background-color: #fff;
					padding: 2px;
					border: 1px solid #fff;
					transition: all 0.2s ease-in;
					cursor: pointer;
					height: 30px;
					width: 30px;
					box-shadow: 0 0 30px #00000071;
				}
			}
		}
	}
}
.dark img {
	box-shadow: 0 0 30px #ffffff71;
}

@keyframes changeColor {
	0% {
		border-bottom: 2.7px solid #ff1180;
	}
	35% {
		border-bottom: 2.7px solid #2bff00;
	}
	70% {
		border-bottom: 2.7px solid #4576fd;
	}
	100% {
		border-bottom: 2.7px solid #ff1180;
	}
}
