.confirm_modal {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	border-radius: 10px;

	.btn_container {
		margin-top: 10px;
		width: 100%;
		display: flex;
		justify-content: center;
	}
}
