* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
:root {
	--primary: #f2f2f2;
	--secondary: #1b2531;
	--primaryBtn: #333333;
}
.dark {
	--primary: #1b2531;
	--secondary: #f2f2f2;
	--primaryBtn: #333333;
	background-color: var(--primary);
	color: var(--secondary);
}
.light {
	--primary: #f2f2f2;
	--secondary: #1b2531;
	--primaryBtn: #d8d8d8;
	background-color: var(--primary);
	color: var(--secondary);
}
